aniso8601
blis
bs4
certifi
chardet
Click
cycler
cymem
elasticsearch
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
Flask
Flask-RESTful
flask_cors
fuzzywuzzy
idna
importlib-metadata
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
more-itertools
murmurhash
nltk
numpy
pandas
plac
preshed
pyparsing
python-dateutil
pytz==
requests
scikit-learn
scipy
six
spacy
srsly
thinc
tqdm
urllib3
wasabi
Werkzeug
zipp
